{% extends 'base.html.twig' %}

{% block body %}
<section id ="titre">
	<div id="textePrincipale"> 
		<h1>Bonjour, <br> bienvenue sur ma page web</h1>
	</div>
</section>
<section id="presentation">
	<div id="texteIndication">
		<h2>Description</h2>
		<p>Ce site est à unique but de promouvoir mon travail afin d'attirer de potentiel employeur.</p>
	</div>
	<div id="imagesVitrines">
		<div class="photoPresentation">
			<h5>Mon PortFolio</h5>
			<a href="#"></a>
		</div>
		<div class=photoPresentation>
			<h5>Mon Curriculum Vitae</h5>
			<a href=></a>
		</div>
		<div class="photoPresentation">
			<h5>Carte Mental</h5>
			<a href=></a>
		</div>
		<div class="photoPresentation">
			<h5>Mes études</h5>
			<a href="Resultats.html"><img src="IUT.JPG" alt="iut"></a>
		</div>
		<div class="photoPresentation">
			<h5>Me contacter</h5>
			<a href=></a>
		</div>
	</div>
</section>
<section id="bio">
	<div id="ptitbio">
		<h4></h4>
		<div id="infos">
			<p>Informations personnelles</p>
			<button class="bouton" class="btn btn-secondary my-2 my-sm-0"><a href=#>Dysfonctionnel</a></button>
		</div>
		<div id="mes passions">
			<p>Vous voulez plus en savoir sur moi</p>
			<button class="bouton" class="btn btn-secondary my-2 my-sm-0"><a href="Passion.HTML">Mes passions</a></button>
		</div>
	</div>
</section>
{% endblock %}



