@import url('https://fonts.googleapis.com/css2?family=Corinthia&family=Itim&family=Oswald:wght@300&family=Playfair+Display:ital@1&family=Smooch&display=swap');


body{
	font-family: 'Oswald', sans-serif;
	padding: 0;
	margin: 0;
  
  justify-content:center;
  background-color: #1b1b1b;
}

ul{
	padding: 0;
	margin: 0;
}
li{
	list-style-type: none;
}
h1{
	text-transform: uppercase;
	text-align: center;
	padding-top: 30px;
	font-size: 2em;
  color: #FFFFA4
}

p{
	text-transform: uppercase;
	text-align: center;
	font-size: 1em;
  color: #FFFFA4
}

h2{
	text-transform: uppercase;
	text-align: center;
	padding-top: 30px;
	font-size: 2em;
  color: #FFFFA4
}
a{
	text-decoration: none;
	color: #C0A056;
}
h4{
	text-transform: uppercase;
	text-align: center;
	padding-top: 30px;
	font-size: 2em;
  color: #FFFFA4
}
h5{
	text-align: center;
	font-size: 1em;
	color: #FFFFA4
}

form{
	float: right;
}


/* *******************************Entête****************************************** */

header nav{
	overflow: hidden;
	background: #1E0F00;
	position: fixed;
	width: 100%;
	opacity: 0.90;
  z-index: 1500;
}
header li{
	float: right;
	font-size: 1.2em;
  font-family:Itim;
}

header li a{
	text-decoration: none;
	display: block;
	text-align: center;
	padding: 12px 10px;
}

header #logo{
	font-family:Itim;
	font-weight: bold;
	float: left;
}
/* ****************************BOUTON*************************** */

/* Style du Button */
.dropbtn {
	background-color: #1E0F00;
	color: #C0A056;
	font-family: 'Oswald', sans-serif;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	display: block;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
	position: fixed;
	display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
	  display: none;
	  position: absolute;
	  background-color: #FFFFA4;
	  min-width: 160px;
	  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	}
	
	/* Links inside the dropdown */
	.dropdown-content a {
	  color: black;
	  padding: 12px 16px;
	  text-decoration: none;
	  display: block;
	}
	
	/* Change color of dropdown links on hover */
	.dropdown-content a:hover {background-color: #FFFFA4}
	
	/* Show the dropdown menu on hover */
	.dropdown:hover .dropdown-content {
		display: block;
	}


/* ********************************Principale**************************************** */

#textePrincipale{
	padding-top: 25px;
	background: black;
	background-size: cover;
	height: 200px;
}

#textePrincipale h1{
	font-family: '', cursive;
	text-align: center;
	color: white;
	font-size: 3em;
	margin-top: 0 px;
	text-shadow: 5px 2px 2px grey;
}

/* *********************************Présentation*********************************************** */

#presentation{
	position: relative;
	background-color: #040C04;
	padding: 10px 0px 50px 0;
}

#texteIndication{
	padding:0px 10%;
	color: #FFFFA4;
}

#imagesVitrines {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 30px 10%;
}

.photoPresentation h5{
	font-family: 'Smooch', cursive;
	text-align: center;
	font-size: 1em;
	color: #FFFFA4
	margin 15px
	font-weight 300;
}

.photoPresentation img{
	border-radius: 10%;
	box-shadow: 3px 4px 5px 3px #000080;
}

.photoPresentation img:hover {
	opacity: 0.75
	transform scale(3)
	transition 0.8s ease-in-out;
}
/**/
#bio{
	background-color: #101001;
	padding: 10px 0px 100px 0;
}

.bouton{
	background-color: whitesmoke;
	color: black;
	display: block;
	margin-left: auto;
    margin-right: auto;
	font-family: 'Smooch', cursive;
	text-align: center;
	font-size: 0.8em;
	margin: 15px
	font-weight 300;
	border-radius: 20%;
}

.boutonvert {
	background-color: rgb(0, 255, 170);
	color: black;
	display: block;
	margin-left: auto;
    margin-right: auto;
	font-family: 'Smooch', cursive;
	text-align: center;
	font-size: 0.8em;
	margin: 15px
	font-weight 300;
	border-radius: 20%;
}

/* ***PIED DE PAGE*** */

#copyright{
	width: 50%;
	text-align: left;
	color: black;
}

/* ***********************************ADMIN********************************************************** */
#premierSemestre{
	padding: 150px;
}
  
/* ************************************VERIFIÉ************************************************** */
  
/* paramètre du conteneur (taille et position) */
  .container{
	position:relative;
	width: 50em;
	display:flex;
	padding: 10px;
	justify-content:space-around;
  }
  
  .container .card
  {
	position:relative;
	width:50em;
	background:linear-gradient(0deg,#1b1b1b,#222,#1b1b1b);
	display:flex;
	justify-content:center;
	align-items:center;
	height:300px;
	border-radius:4px;
	text-align:center;
	overflow:hidden;
	transition:0.5s;
  }
  .container .card:hover
  {
	transform:translateY(-10px);
	box-shadow:0 15px 35px rgba(0,0,0,.5);
  }
  .container .card:before
  {
	content:'';
	position:absolute;
	top:0;
	left:-50%;
	width:100%;
	height:100%;
	background:rgba(255,255,255,.03);
	pointer-events:none;
	z-index:1;
  }
  .percent
  {
	position:relative;
	width:150px;
	height:150px;
	border-radius:50%;
	box-shadow: inset 0 0 50px #000;
	background:#222;
	font-style: 'Corinthia', arial;
	z-index:1000;
  }
  
  /**/
  .percent .num
  {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	font-style: corinthia;
	border-radius:100%;
  }
  
  /*Pourcentage quand neutre*/
  .percent .num h2
  {
	color:#FFFFA4;
	font-weight:700;
	font-size:40px;
	transition:0.5s;
  }
  
  /*Pourcentage quand pointé*/
  .card:hover .percent .num h2
  {
	color:#fff;
	font-size:60px;
  }
  
  /*Pourcent quand neutre*/
  .percent .num h2 span
  {
	color:#FFFFA4;
	font-size:24px;
	transition:0.5s;
  }
  
  /*Pourcent quand pointé*/
  .card:hover .percent .num h2 span
  {
	color:#fff;
  }
  
  /*Texte quand neutre*/
  .text
  {
	position:relative;
	color:#FFFFA4;
	margin-top:20px;
	font-weight:700;
	font-size:18px;
	letter-spacing:1px;
	text-transform:uppercase;
	transition:0.5s;
  }
  
  /*Texte quand pointé*/
  .card:hover .text
  {
	color:#fff;
  }
  
  
  svg
  {
	position:relative;
	width:150px;
	height:150px;
	z-index:1000;
  }
  
  
  /* épaisseur du cercle */
  svg circle
  {
	width:100%;
	height:100%;
	fill:none;
	stroke:#101010;
	stroke-width:10;
	stroke-linecap:round;
	transform:translate(5px,5px);
  }
  
  /* *Paramètre du cercle* */
  svg circle:nth-child(2)
  {
	stroke-dasharray:1000;
	stroke-dashoffset:1000;
  }
  
  /* *Couleur du cercle 1* */
  .card:nth-child(1) svg#un circle:nth-child(2)
  {
	stroke-dashoffset:calc(1000 - (1000 * 36,52) / 100);
	stroke:#00ff43;
  }
  
  /* *Couleur du cercle 2* */
  .card:nth-child(1) svg#deux circle:nth-child(2)
  {
	stroke-dashoffset:calc(1000 - (1000 * 33) / 100);
	stroke:#00ff43;
  }
  
  /* *Couleur du cercle 3* */
  .card:nth-child(1) svg#trois circle:nth-child(2)
  {
	stroke-dashoffset:calc(1000 - (1000 * 44) / 100);
	stroke:#00ff43;
  }
  
  /* *Couleur du cercle 4* */
  .card:nth-child(1) svg#quatre circle:nth-child(2)
  {
	stroke-dashoffset:calc(1000 - (1000 * 34,32) / 100);
	stroke:#00ff43;
  }
  
  /* *Couleur du cercle 5* */
  .card:nth-child(1) svg#cinq circle:nth-child(2)
  {
	stroke-dashoffset:calc(1000 - (1000 * 38,72) / 100);
	stroke:#00ff43;
  }
  
  /* *Couleur du cercle 6* */
  .card:nth-child(1) svg#six circle:nth-child(2)
  {
	stroke-dashoffset:calc(1000 - (1000 * 38,72) / 100);
	stroke:#00ff43;
  }

  /* *Couleur du cercle 7* */
  .card:nth-child(1) svg#sept circle:nth-child(2)
  {
	stroke-dashoffset:calc(1000 - (1000 * 39,875) / 100);
	stroke:#00ff43;
  }

  /* *Couleur du cercle 8* */
  .card:nth-child(1) svg#huit circle:nth-child(2)
  {
	stroke-dashoffset:calc(1000 - (1000 * 44) / 100);
	stroke:#00ff43;
  }

  /* *Couleur du cercle 9* */
  .card:nth-child(1) svg#neuf circle:nth-child(2)
  {
	stroke-dashoffset:calc(1000 - (1000 * 44) / 100);
	stroke:#00ff43;
  }

  /* *Couleur du cercle 10* */
  .card:nth-child(1) svg#dix circle:nth-child(2)
  {
	stroke-dashoffset:calc(1000 - (1000 * 33) / 100);
	stroke:#00ff43;
  }
  
  /* *Couleur du cercle 11* */
  .card:nth-child(1) svg#onze circle:nth-child(2)
  {
	stroke-dashoffset:calc(1000 - (1000 * 40.86) / 100);
	stroke:#00ff43;
  }

  /* *Couleur du cercle 12* */
  .card:nth-child(1) svg#douze circle:nth-child(2)
  {
	stroke-dashoffset:calc(1000 - (1000 * 36.67) / 100);
	stroke:#00ff43;
  }

  /* *Couleur du cercle 13* */
  .card:nth-child(1) svg#treize circle:nth-child(2)
  {
	stroke-dashoffset:calc(1000 - (1000 * 44) / 100);
	stroke:#00ff43;
  }

  /* *Couleur du cercle 14* */
  .card:nth-child(1) svg#quatorze circle:nth-child(2)
  {
	stroke-dashoffset:calc(1000 - (1000 * 33) / 100);
	stroke:#00ff43;
  }

  /* *Couleur du cercle 15* */
  .card:nth-child(1) svg#quinze circle:nth-child(2)
  {
	stroke-dashoffset:calc(1000 - (1000 * 41.25) / 100);
	stroke:#00ff43;
  }

  /* containeurs 2 */
  .container2{
	position:relative;
	width: 50em;
	display:flex;
	padding: 10px;
	float:right;
  }
  
  .container2 .card
  {
	position:relative;
	width:50em;
	background:linear-gradient(0deg,#1b1b1b,#222,#1b1b1b);
	display:flex;
	justify-content:center;
	align-items:center;
	height:300px;
	border-radius:4px;
	text-align:center;
	overflow:hidden;
	transition:0.5s;
  }
  .container2 .card:hover
  {
	transform:translateY(-10px);
	box-shadow:0 15px 35px rgba(0,0,0,.5);
  }
  .container2 .card:before
  {
	content:'';
	position:absolute;
	top:0;
	left:-50%;
	width:100%;
	height:100%;
	background:rgba(255,255,255,.03);
	pointer-events:none;
	z-index:1;
  }

/* ******************************************CV***************************************************** */

#vide{
	padding-top: 4em;
}

#vide p{
	padding-top: 3em;
	color:#1b1b1b;
}

#gauche{
	margin: 1em;
	width: 24%; 
	float:left;
	border-width:1px;
 	border-style:solid;
	border-color:#ccccff; 
}

#gauche  h4{
	font-size: 1.5em;
	text-align: center;
	color:cyan;
}

#droite{
	width: 70%; 
	float:right;
}

#droite  h4{
	font-size: 1.5em;
	text-align: center;
	color:cyan;
}

/* **********************************************FOLIO********************************************************* */

#Titre #textePrincipale{
	padding-top: 25px;
	background: #052705;
	background-size: cover;
	height: 200px;
}

#Titre h1{
	font-family: '', cursive;
	text-align: center;
	color: #B3E99E;
	font-size: 3em;
	margin-top: 0 px;
	text-shadow: 5px 2px 2px #2A7D2A;
}

#Titre h4{
	font-family: '', cursive;
	text-align: center;
	color: #B3E99E;
	font-size: 1em;
	margin-top: 0 px;
}

/*Suite*/

#premierSemestre{
	padding: 3em;
}

#premierSemestre h2{
	font-family: '', cursive;
	text-align: center;
	color: #D0FFD0;
	font-size: 1,5em;
}

#premierSemestre p{
	font-family: '', cursive;
	text-align: center;
	color: #B3E99E;
	font-size: 1,5em;
}

/* ********************************************************Passion********************************************************* */



#jaime{
	padding: 3em;
	background-color: #303030;
}

#jaime h1{
	font-family: '', cursive;
	text-align: center;
	color: #ff8989;
	font-size: 1.5em;
}

#jaime h3{
	height: 60px;
	width: 30%;
	font-size: 1.5em;
	padding-top: 15px;
	float: right;
	text-align: center;
	font-family: '', cursive;
	text-align: center;
	color: #ffa0a0;
}

#jaime h4{
	font-family: '', cursive;
	text-align: center;
	color: #ff8989;
	font-size: 0.9em;
}

#jaime h5{
	font-family: '', cursive;
	text-align: center;
	color: #ff8989;
	font-size: 0.9em;
	width: 50%;
	float: left;
}

#jaime li{
	margin: 65px 100px 0 100px;
	height: 350px;
	width: 55%;
	float: left;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	max-width: 550px no-repeat;
	position:relative;
  	width:50em;
  	background:linear-gradient(0deg,#1b1b1b,#222,#1b1b1b);
  	display:flex;
  	justify-content:center;
  	align-items:center;
  	height:300px;
  	border-radius:4px;
  	text-align:center;
  	overflow:hidden;
  	transition:0.5s;
}



