@import url('https://fonts.googleapis.com/css2?family=Corinthia&family=Itim&family=Oswald:wght@300&family=Playfair+Display:ital@1&family=Smooch&display=swap');


body{
	font-family 'Oswald'; sans-serif;
	padding: 0;
	margin: 0;
  display:flex;
  justify-content:center;
  background-color: #1b1b1b;
}

ul{
	padding: 0;
	margin: 0;
}
li{
	list-style-type: none;
}
h1{
	text-transform: uppercase;
	text-align: center;
	padding-top: 30px;
	font-size: 2em;
  color: #FFFFA4
}
h2{
	text-transform: uppercase;
	text-align: center;
	padding-top: 30px;
	font-size: 2em;
  color: #FFFFA4
}
a{
	text-decoration: none;
	color: #C0A056;
}
h4{
	text-transform: uppercase;
	text-align: center;
	padding-top: 30px;
	font-size: 2em;
  color: #FFFFA4
}
h5{
	text-align: center;
	font-size: 1em;
	color: #FFFFA4
}

button{
  float: center;
}

/* *******************************Entête****************************************** */

nav{
	overflow: hidden;
	background: #1E0F00;
	position: fixed;
	width: 100%;
	opacity: 0.90;
  z-index: 1500;
}
li{
	float: right;
	font-size: 1.2em;
  font-family:Itim;
}

li a{
	text-decoration: none;
	display: block;
	text-align: center;
	padding: 12px 10px;
}

#logo{
	font-family:Itim;
	font-weight: bold;
	float: left;
}
/* ****************************BOUTON*************************** */

/* Style du Button */
.dropbtn {
  background-color: #1E0F00;
  color: #C0A056;
  font-family 'Oswald'; sans-serif;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: fixed;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFFFA4;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #FFFFA4}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  
}
/* ********************************Principale**************************************** */

#textePrincipale{
	padding-top: 25px;
	background: black;
	background-size: cover;
	height: 200px;
}

h1{
	font-family: '', cursive;
	text-align: center;
	color: white;
	font-size: 3em;
	margin-top: 0 px;
	text-shadow: 5px 2px 2px grey;
}

/* *********************************Présentation*********************************************** */

#presentation{
	position: relative;
	background-color: #040C04;
	padding: 10px 0px 50px 0;
}

#texteIndication{
	padding:0px 10%;
	color: #FFFFA4;
}

#imagesVitrines {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 30px 10%;
}

.photoPresentation h5{
	font-family: 'Smooch', cursive;
	text-align: center;
	font-size: 1em;
	color: #FFFFA4
	margin: 15px
	font-weight: 300;
}

.photoPresentation img{
	border-radius: 10%;
	box-shadow: 3px 4px 5px 3px #000080;
}

.photoPresentation img:hover {
	opacity: 0.75
	transform: scale(3)
	transition: 0.8s ease-in-out;
}
/**/
#bio{
	background-color: #101001;
	padding: 10px 0px 100px 0;
}