<html>


<head>
	<meta charset="UTF-8">
	
	<link rel="stylesheet" href="admin1.css">
	
	<title> PortFolio - Administrer </title>
</head>

<body>
<header>

</header>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarColor02">
		<ul class="navbar-nav me-auto">
		  <li id="logo"><a href="#">VERDIER Nathanaël</a></li>
		  <div class="dropdown">
			<button class="dropbtn"> Autres </button>
			<div class="dropdown-content">
			  <a href="#"> Informations Personnelles</a>
			  <a href="#"> Mon Journal Personel </a>
			  <a href="#"> Mes Résultats/Diplômes </a>
			  <a href="#"> Langues </a>
			</div>
		  </div>
		  <li class="nav-item">
			<a class="nav-link" href="#">Contact</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#">Mon CV</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#">Mon PortFolio</a>		
			<span class="visually-hidden">(actuel)</span>
			</a>
		  </li>
		</ul>
		<form class="d-flex">
		  <input class="form-control me-sm-2" type="text" placeholder="Entrez texte">
		  <button class="btn btn-secondary my-2 my-sm-0" type="submit">Rechercher</button>
		</form>
	  </div>
	</div>
</nav>
<section id="premierSemestre">
	<div id="textePrincipale"> 
	<h1>Administrer</h1>
	<br>
	<h4>
		Ici, les résultats de la compétence leur du premier semestre<br>
	</h4>
</div>
<div id="imagesVitrines">
	<div class="photoPresentation">
		<div class="container">
			<div class="card">
			 	<div class="box">
					<div class="percent">
					  <svg id="un">
						<circle cx="70" cy="70" r="70"></circle>
						<circle cx="70" cy="70" r="70"></circle>
					  </svg>
					  	<div class="num">
					  	<h2>83<span>%</span></h2>
					  </div>
					</div>
			  	</div>
					<h2 class="text">Maîtriser les lois fondamentales de l’électricité afin d’intervenir sur des équipements de réseaux et télécommunications.      (habilitation électrique)</h2>
		
			</div>
		</div>
		<div class="container2">
			<div class="card">
			 	<div class="box">
					<div class="percent">
					  <svg id="deux">
						<circle cx="70" cy="70" r="70"></circle>
						<circle cx="70" cy="70" r="70"></circle>
					  </svg>
					  	<div class="num">
					  	<h2>75<span>%</span></h2>
					  </div>
					</div>
			  	</div>
					<h2 class="text">Comprendre les principes et standards du codage de l’information</h2>
		
			</div>
		</div>
		<div class="photoPresentation">
			<div class="container">
				<div class="card">
					 <div class="box">
						<div class="percent">
						  <svg id="trois">
							<circle cx="70" cy="70" r="70"></circle>
							<circle cx="70" cy="70" r="70"></circle>
						  </svg>
							  <div class="num">
							  <h2>100<span>%</span></h2>
						  </div>
						</div>
					  </div>
						<h2 class="text">Configurer les fonctions de base du réseau local(Ethernet, IPv4, intro IPv6, commutation, VLANs, routage statique)</h2>
			
				</div>
			</div>
		<div class="container2">
			<div class="card">
			 	<div class="box">
					<div class="percent">
					  <svg id="quatre">
						<circle cx="70" cy="70" r="70"></circle>
						<circle cx="70" cy="70" r="70"></circle>
					  </svg>
					  	<div class="num">
					  	<h2>78<span>%</span></h2>
					  </div>
					</div>
			  	</div>
					<h2 class="text">Maîtriser les rôles et les principes fondamentaux des systèmes d’exploitation afin d’interagir avec ceux-ci pour la configuration etadministration des réseaux et services fournis(DHCP, DNS, ...)</h2>
		
			</div>
		</div>
		<div class="container">
			<div class="card">
			 	<div class="box">
					<div class="percent">
					  <svg id="cinq">
						<circle cx="70" cy="70" r="70"></circle>
						<circle cx="70" cy="70" r="70"></circle>
					  </svg>
					  	<div class="num">
					  	<h2>88<span>%</span></h2>
					  </div>
					</div>
			  	</div>
					<h2 class="text">Savoir identifier les dysfonctionnements du réseau local</h2>
		
			</div>
		</div>
		<div class="container2">
			<div class="card">
			 	<div class="box">
					<div class="percent">
					  <svg id="six">
						<circle cx="70" cy="70" r="70"></circle>
						<circle cx="70" cy="70" r="70"></circle>
					  </svg>
					  	<div class="num">
					  	<h2>88<span>%</span></h2>
					  </div>
					</div>
			  	</div>
					<h2 class="text">Installer un poste client(et le sécuriser: antivirus, parefeu, comptes, ...)</h2>
		
			</div>
		</div>
	</div>
</div>

</section>



</body>