<html>



<head>
	<meta charset="UTF-8">
	
	<link rel="stylesheet" href="passion.css">
	
	<title> Mes passions </title>
</head>
<body>
<header>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarColor02"></div>
			<ul class="navbar-nav me-auto">
			  <li id="logo"><a href="#">VERDIER Nathanaël</a></li>
			  <div class="dropdown">
				<button class="dropbtn"> Autres </button>
				<div class="dropdown-content">
				  <a href="#"> Informations Personnelles</a>
				  <a href="#"> Mon Journal Personel </a>
				  <a href="#"> Mes Résultats/Diplômes </a>
				  <a href="#"> Langues </a>
				</div>
			  </div>
			  <li class="nav-item">
				<a class="nav-link" href="#">Contact</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#">Mon CV</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#">Mon PortFolio</a>		
				<span class="visually-hidden">(actuel)</span>
				</a>
			  </li>
			</ul>
			<form class="d-flex">
			  <input class="form-control me-sm-2" type="text" placeholder="Entrez texte">
			  <button class="btn btn-secondary my-2 my-sm-0" type="submit">Rechercher</button>
			</form>
		  </div>
		</div>
	</nav>
</header>

<section id="jaime">
	<h1>Cette page est une présention</h1><br>
	<h4>Elle réuni certaines de mes passions. <br>
	Tous ce qui se trouve sur cette page me tiens vraiment à coeur.
	</h4>
	<ul>
		<li id="echec"><h3>Échec et autres jeux de stratégies</h3></li>
		<li id="jeu"><h3>Développement de jeux vidéos</h3></li>
		<li id="histoire"><h3>Imaginer et écrire des histoires</h3></li>
		<li id="livres"><h3>Lire des livres (particulièrement ceux qui font faire réfléchir)</h3></li>
		<li id="géopolitiques"><h3>Parler et débattre de la géopolitique</h3></li>
		<li id="culture"><h3>Découverte et préservation des cultures</h3></li>
	</ul>
</section>