{% extends 'base.html.twig' %}

{% block body %}
<section id="premierSemestre">
	<div id="textePrincipale"> 
	<h1>Administrer</h1>
	<br>
	<h4>
		Ici, les résultats de la compétence leur du premier semestre<br>
	</h4>
</div>
<div class="container">
	<div class="card">
	 	<div class="box">
			<div class="percent">
			    <svg id="sept">
					<circle cx="70" cy="70" r="70"></circle>
					<circle cx="70" cy="70" r="70"></circle>
				</svg>
				<div class="num">
				  	<h2>91<span>%</span></h2>
				</div>
			</div>
		</div>
		<h2 class="text">Mesurer et analyser les signaux(audio et vidéo, ordres de grandeurs, comprendre la dualité temps/fréquence et utiliser des équipements d’analyse spectrale, avec projets autour de la chaîne d’acquisition/traitement)</h2>
	</div>
</div>
<div class="container2">
	<div class="card">
	 	<div class="box">
			<div class="percent">
    			<svg id="huit">
					<circle cx="70" cy="70" r="70"></circle>
					<circle cx="70" cy="70" r="70"></circle>
			    </svg>
			  	<div class="num">
				  	<h2>100<span>%</span></h2>
		    	</div>
			</div>
		</div>
		<h2 class="text">Caractériser des systèmes de transmissions élémentaires et découvrir la modélisation mathématique de leur fonctionnement</h2>
	</div>
</div>
<div class="container">
	<div class="card">
		<div class="box">
			<div class="percent">
			    <svg id="neuf">
					<circle cx="70" cy="70" r="70"></circle>
					<circle cx="70" cy="70" r="70"></circle>
				</svg>
				<div class="num">
				    <h2>100<span>%</span></h2>
				</div>
			</div>
		</div>
		<h2 class="text">Déployer des supports de transmission(traitement au choix de la propagation, câblage LAN, fibre optique, ou une introduction à l’IoT)</h2>
	</div>
</div>
<div class="container2">
	<div class="card">
	 	<div class="box">
			<div class="percent">
			  <svg id="dix">
				<circle cx="70" cy="70" r="70"></circle>
				<circle cx="70" cy="70" r="70"></circle>
			  </svg>
			  	<div class="num">
			  	<h2>75<span>%</span></h2>
			  </div>
			</div>
	  	</div>
		<h2 class="text">Communiquer avec un client ou un collaborateur</h2>
	</div>
</div>

</section>
{% endblock %}