{% extends 'base.html.twig' %}

{% block body %}
<section id="vide">
	<h1>Verdier Nathanaël</h1>
</section>

<section id="gauche">
	<div class="bloc">
		<div id="cont">
			<h4>
				Roanne, France
				<br>07 69 92 22 77
				<br>verdier.nathanael@orange.fr
			</h4>
		</div>
		<div id="qual">
			<h1>Qualités</h1>
			<h4>
				Travailleur
				<br>Sérieux
				<br>Patient
				<br>Respectueux
				<br>Bienvaillant
			</h4>
		</div>
		<div id="obj">
			<h1>Objectifs</h1>
			<h4>
				-Intégrer une entreprise en protection des données.
				<br>-Devenir polyvalent, de développer des connaissances dans de nombreux domaines
				<br>-Pouvoir avoir une bonne situation financière
			</h4>
		</div>
	</div>
</section>

<section id="droite">
	<div class="bloc">
		<div id="comp">
			<h1>Compétences</h1>
			<h4>
				-Connaissance de l'Anglais B2+
				<br>-Maîtrise de nombreux logiciel NotePad++, Visual Studio Code, Spyder
				<br>-Maîtrise de quelques langages CSS, HTML, C, Python
			</h4>
		</div>
		<div id="form">
			<h1>Formation académiques</h1>
			<h4>
				-Obtention du Brevet Des Collèges (2017-2018)
				<br>-Obtention du Baccaulauréat Spécialité Mathématiques et Histoire-Géographie-Géopolitique et Sciences Politiques
				<br>-Poursuite des études en Réseaux et Télécommunication (2021-....)
			</h4>
		</div>
		<div id="exp">
			<h1>Expériences professionnelles</h1>
			<h4>
				-Entretien des relations clients dans un milieu administratif ainsi que l'insertion des nouveaux produits dans la banque de données numérique (janvier 2018)
				<br>-Création de nombreux programmes avec différents logiciels.
				<br>-Organisation numérique et physique d'événement.
			</h4>
		</div>
	</div>
</section>

<section id="télé">
	<a href="x" download="CV_Verdier">Télécharger le CV</a>
</se
{% endblock %}