{% extends 'base.html.twig' %}

{% block body %}
<setion id="Titre">
<div id="textePrincipale"> 
	<h1>Bienvenue, voici la page PortFolio</h1>
	<br>
	<h4>
		Ici, les résultats de mes études en Réseaux et Télécommunication sont postés pour montrer l'étendue de mes connaissances.<br>
		Chaques Ressources sont séparées selon les périodes. AInsi que ma progression.<br>
	</h4>
</div>

<section id="premierSemestre">
	<h2>Compétence premier semestre</h2>
	<ul>
		<button class="boutonvert" class="btn btn-secondary my-2 my-sm-0"><a href="administrerpre.HTML.TWIG">Administrer</a></button>
		<button class="boutonvert" class="btn btn-secondary my-2 my-sm-0"><a href="connecterpre.HTML.TWIG">Connecter</a></button>
		<button class="boutonvert" class="btn btn-secondary my-2 my-sm-0"><a href="programmerpre.HTML.TWIG">Programmer</a></button>
	</ul>
</section>
{% endblock %}