{% extends 'base.html.twig' %}

{% block body %}
<section id="jaime">
	<h1>Cette page est une présention</h1><br>
	<h4>Elle réuni certaines de mes passions. <br>
	Tous ce qui se trouve sur cette page me tiens vraiment à coeur.
	</h4>
	<ul>
		<li id="echec">
			<h3>Échec et autres jeux de stratégies</h3>
			<h5>
				Depuis tout petit, je suis passionnée depuis tout petit.
				<br>J'aime le fait d'essayer d'anticiper les mouvements et les réactions des adversaires.
				<br>J'aime aussi les épreuves et loisirs de reflexion.
			</h5>
		</li>
		<li id="jeu">
			<h3>Développement de jeux vidéos</h3>
			<h5>
				J'ai déja codé partiellement développer un jeu même si je n'aime pas le rendu final.
				<br> J'ai aussi développé des sites Web même si je n'ai pas beaucoup d'expérience
				<br>celui ci doit être le plus abouti, je suis content car je trouve que codé est destressant 
				<br>même si les résultats ne sont pas à la hauteur des esperance.
			</h5>
		</li>
		<li id="histoire">
			<h3>Imaginer et écrire des histoires</h3>
			<h5>
				J'ai déja inventé plusieurs histoires, certains que j'aime beaucoup d'autres moins.
				<br>Elles sont majoritairement faite pour des enfants ou des oeuvres déstinés à la 
				<br>reflexion. Mais j'ai déja écrit des poésies. 
			</h5>
		</li>
		<li id="livres">
			<h3>Lire des livres (particulièrement ceux qui font faire réfléchir)</h3>
			<h5>
				Je suis un grand fan de livres particulièrement ceux qui font réfléchir
				<br>Mes livres préférés sont: La Vague, L'or, Yakusoku No NeverLand et Emergence.
				<br>Ils relèvent des notions que je préfère la sociologie, la force de chaque individus,
				<br>la cupidité et l'humanisme. 
			</h5>
		</li>
		<li id="géopolitiques">
			<h3>Parler et débattre de la géopolitique</h3>
			<h5>
				J'adore parler de la géopolitique en général de nombreux domaines comme la recherche,
				<br>l'écologie, la protection du patrimoine, les guerres et les puissances.
				<br>Si je pouvais passer tout mon temps sur un matière la géopolitique et l'informatique serait 
				<br>mon dilemme.
			</h5>
		</li>
		<li id="culture">
			<h3>Découverte et préservation des cultures</h3>
			<h5>
				J'apprécie particulièrement les cultures étrangères que ce soit de la mythologie,
				<br> les langues, les traditions et surtout les monuments. 
			</h5>
		</li>
	</ul>
</section>
{% endblock %}