{% extends 'base.html.twig' %}

{% block body %}

<section id="premierSemestre">
	<div id="textePrincipale"> 
	<h1>Administrer</h1>
	<br>
	<h4>
		Ici, les résultats de la compétence leur du premier semestre<br>
	</h4>
</div>
<div class="container">
	<div class="card">
	 	<div class="box">
			<div class="percent">
			    <svg id="onze">
					<circle cx="70" cy="70" r="70"></circle>
					<circle cx="70" cy="70" r="70"></circle>
				</svg>
			  	<div class="num">
				  	<h2>93<span>%</span></h2>
				</div>
			</div>
		</div>
		<h2 class="text">Maîtriser les lois fondamentales de l’électricité afin d’intervenir sur des équipements de réseaux et télécommunications.      (habilitation électrique)</h2>
	</div>
</div>
<div class="container2">
	<div class="card">
     	<div class="box">
			<div class="percent">
                <svg id="douzaine">
					<circle cx="70" cy="70" r="70"></circle>
					<circle cx="70" cy="70" r="70"></circle>
				</svg>
				<div class="num">
                  	<h2>83<span>%</span></h2>
				</div>
			</div>
	  	</div>
    	<h2 class="text">Comprendre les principes et standards du codage de l’information</h2>
	</div>
</div>
<div> class="container">
    <div> class="card">
        <div class="box">
		    <div class="percent">
		        <svg id="treize">
				    <circle cx="70" cy="70" r="70"></circle>
					<circle cx="70" cy="70" r="70"></circle>
				</svg>
				<div class="num">
				    <h2>100<span>%</span></h2>
				</div>
			</div>
		</div>
		<h2 class="text">Traduire un algorithme, dans un langage et pour un environnement donné(peut inclure plusieurs, y compris objet)</h2>
	</div>
</div>
<div class="container2">
	<div class="card">
	 	<div class="box">
			<div class="percent">
			    <svg id="quatorze">
					<circle cx="70" cy="70" r="70"></circle>
					<circle cx="70" cy="70" r="70"></circle>
				</svg>
				<div class="num">
				  	<h2>94<span>%</span></h2>
				</div>
			</div>
	  	</div>
		<h2 class="text">Connaître l’architecture et les technologies d’un site Web(Langages et outils : HTML, CSS, CMS, JS, responsive)</h2>
	</div>
</div>
<div class="container">
	<div class="card">
     	<div class="box">
			<div class="percent">
			    <svg id="quinze">
					<circle cx="70" cy="70" r="70"></circle>
					<circle cx="70" cy="70" r="70"></circle>
				</svg>
				<div class="num">
				  	<h2>100<span>%</span></h2>
				</div>
			</div>
		</div>
		<h2 class="text">S’intégrer dans un environnement propice au développement et au travail collaboratif(intro méthodes agiles)</h2>
	</div>
</div>

</section>
{% endblock %}